-# .views
-#   .views-title
-#     = link_to image_tag("icons8-left.png"), deck_cards_path
-#     %h3= @card.question



  -# = link_to 'Edit', edit_deck_card_path(@card)
  -# \|
  -# = link_to 'Back', deck_path(code: @deck.code)


    <div class="points">
        <p>No lo sabía</p>
        <ul>
            <li><button>1</button></li>
            <li><button>2</button></li>
            <li><button>3</button></li>
            <li><button>4</button></li>
            <li><button>5</button></li>
        </ul>
        <p>Sí lo sabía</p>
    </div>