-# = render 'decks/navbar'

.content-game
  -# %p#notice= notice

  .card-view
    %p= @deck.name

  .card
    %p 
      Question:
    %h2= @card.question

  .flip
    Flip Card 

  #points.points
    %p No lo sabía
    %ul
      %li 1
      %li 2
      %li 3
      %li 4
      %li 5
    %p Si lo sabía
    .card-view-button
      = link_to image_tag('flechas-a-la-derecha.png')


  -# = link_to 'Edit', edit_deck_card_path(@card)
  -# \|
  -# = link_to 'Back', deck_path(code: @deck.code)


    <div class="points">
        <p>No lo sabía</p>
        <ul>
            <li><button>1</button></li>
            <li><button>2</button></li>
            <li><button>3</button></li>
            <li><button>4</button></li>
            <li><button>5</button></li>
        </ul>
        <p>Sí lo sabía</p>
    </div>