.views {
  margin-top: 80px;
  padding: 30px 0;

  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;

  .views-title {
    width: 100%;
    margin-bottom: 30px;
    background: #b8e4f0;
    padding: 0px 100px;
    display: flex;

    h3 {
      padding: 30px;
      color: #6e3cbc;
      margin: 0;
    }

    a {
      height: 100%;
      border-radius: 50%;
      margin: auto 0;

      img {
        width: 50px;
        height: 50px;
        padding: 10px;
        margin: auto 0;
      }

      &:hover {
        background: white;
      }
    }
  }

  .views-cont {
    display: grid;
    grid-template-columns: repeat(3, 25rem);
    row-gap: 42px;
    column-gap: 42px;
    margin: 0 auto;
    justify-self: center;
    align-self: center;
  }

  .views-title-show {
    width: 100%;
    margin-bottom: 30px;
    padding: 0px 100px;

    .image-title {
      display: flex;

      h1 {
        padding: 30px;
        margin: 0;
      }

      a {
        height: 100%;
        border-radius: 50%;
        margin: auto 0;

        img {
          width: 50px;
          height: 50px;
          padding: 10px;
          margin: auto 0;
        }

        &:hover {
          background: white;
        }
      }
    }

    p {
      margin: 60px 0 60px 80px;
      font-size: 20px;
    }
  }
}

.view-pre-card {
  position: relative;
  height: 18rem;
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
  padding: 30px;

  h3 {
    line-height: 27px;
    margin-bottom: 10px;
  }

  p {
    font-weight: 500;
    font-size: 16px;
    margin: 20px 0;
  }

  .pre-card-btn {
    position: absolute;
    width: calc(100% - 60px);
    margin-bottom: 30px;
    display: flex;
    bottom: 0;

    a {
      padding: 7px;
      border-radius: 5px;
      text-decoration: none;
      margin: 0 auto;
    }
  }
}

.cont-maker {
  height: 18rem;
  width: 100%;
  background: rgba(114, 103, 203, 0.6);
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;

  a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 30px;
    text-decoration: none;
  }
}

.cont-view-deck-options {
  width: 60rem;
  height: 15rem;
  display: flex;
  margin: 0 auto;

  .deck-options {
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  .rigth {
    align-self: flex-end;
  }

  .cont-deck {
    display: flex;
    flex-grow: 1;
    align-items: center;

    p {
      margin: 0;
    }

    img {
      width: 50px;
      height: 50px;
      margin: 0 30px;
    }
  }

  .profile {
    img {
      border-radius: 50%;
    }
  }
}

.cont-view-deck-btn {
  padding: 30px;
  width: 60rem;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  justify-content: center;

  a {
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 10px;

    &:hover {
      background: #6e3cbc;
      color: white;
    }
  }
}
