-# = render 'welcome/navbar'

.welcome-content
  .w-content-text
    %h1 Aprende de manera facíl y rapida
    %p
      Con Flash Cards crea tus propias cartas para ti y compartir
      con mas gente tu baraja de cartas.
    %p 
      Aprovecha y disfruta la experiencia de usar esta app

    = link_to "Comienza ahora!", new_user_registration_path, method: :get
        
  .w-content-image
    = image_tag 'telefono.png', alt: 'vrs-app'
