-# %h1 Welcome#index
-# %p Find me in app/views/welcome/index.html.haml

= render 'welcome/navbar'

.pre-content
  .content
    %h1 Aprende de manera facíl y rapida
    %p
      Con Flash Cards crea tus propias cartas para ti y compartir
      con mas gente tu baraja de cartas.
    %p 
      Aprovecha y disfruta la experiencia de usar esta app
    .download
      %a
        Descargar
  = image_tag 'telefono.png', alt: 'vrs-app', height: '', width: '', class: 'telefono'
-# .footer
-#   %span.menu
-#     %a{:href => "#"}> Enlace 1
-#     |
-#     %a{:href => "#"} Enlace 2
-#   %ul.fter-menu
-#     %li
-#       %a{:href => "#"} Enlace 3
-#     %li
-#       %a{:href => "#"} Enlace 4
-#     %li
-#       %a{:href => "#"} Enlace 5
